*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    border: 3px solid darkcyan;
    width: 80%;
    border-spacing: 0;
}
th{
    background-color: darkcyan;
    color: white;
}
td{
    padding: 10px;
    text-align: center;
    border: 1px solid darkcyan;
}
tr:nth-child(odd){/*even*/
    background-color: cadetblue;
}
.descripcion{
    width: 40%;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}